<!DOCTYPE html>
<html lang="en" onclick="jump()">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = './snake/index.css') }}">
</head>
<body>
<canvas id="mysnakegame" width="400" height="600" style="border: 1px solid #3E3D53"></canvas>
<div id="score">score: 0</div>
<button type="button" id="btn" onclick="main()">start</button>
 <script src="{{ url_for('static', filename = './snake/index.js') }}"></script>
</body>
</html>