body{
    background-color: #18191A;
    
}

#mysnakegame{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    border-radius: 20px;
    
}
#score{
    position: absolute;
    top: 10%;
    left: 50%;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:white;

}
#btn{
    position: absolute;
    top: 50%;
    left: 47%;
    font-size: 50px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   

}