<!DOCTYPE html>
<html lang="en" onclick="jump()">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = './dino/index.css') }}">
</head>
<body>
    <div id="games">
        <div id="character" onclick="timepass()"></div>
        <div id="block"></div>
        </div>
        <script src="{{ url_for('static', filename = './dino/index.js') }}"></script>
</body>
</html>