<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'index.css') }}" >
</head>

<body>
    
    <section class="info">
        <img src="https://images.unsplash.com/10/wii.jpg?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80">
        <h1>2D GAME &mdash; <span target="_blank">Just For Fun</span></h1>
      </section>
      <section class="cards-wrapper">
        <div class="card-grid-space">
          <div class="num">01</div>
          <a class="card" href="{{url_for('memory_match')}}" style="--bg-img: url(https://images.unsplash.com/photo-1612385763901-68857dd4c43c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80)">
            <div>
              <h1>Memory Match</h1>
              <p>The syntax of a language is how it works. How to actually write it. Learn HTML syntax…</p>
              <div class="date">6 Oct 2017</div>
              <div class="tags">
                <div class="tag">PLAY</div>
              </div>
            </div>
          </a>
        </div>
        <div class="card-grid-space">
          <div class="num">02</div>
          <a class="card" href="{{url_for('subway_suffer')}}" style="--bg-img: url(https://i.ytimg.com/vi/KLD74uencKE/maxresdefault.jpg)">
            <div>
              <h1>Subway Suffer</h1>
              <p>Learn about some of the most common HTML tags…</p>
              <div class="date">9 Oct 2017</div>
              <div class="tags">
                <div class="tag">PLAY</div>
              </div>
            </div>
          </a>
        </div>
        <div class="card-grid-space">
            <div class="num">03</div>
            <a class="card" href="{{url_for('tic_tac_toe')}}" style="--bg-img: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Tic_tac_toe.svg/2000px-Tic_tac_toe.svg.png')">
              <div>
                <h1>Tic Tac Toe</h1>
                <p>Learn about some of the most common HTML tags…</p>
                <div class="date">9 Oct 2017</div>
                <div class="tags">
                  <div class="tag">PLAY</div>
                </div>
              </div>
            </a>
          </div>
          <div class="card-grid-space">
          <div class="num">04</div>
          <a class="card" href="{{url_for('snake')}}" style="--bg-img: url('https://construct-static.com/uploads/91398/3eb4ea3c-8c6c-449a-88ea-f2c638250d59/r/900/scr1.jpg')">
            <div>
              <h1>Snake Game</h1>
              <p>Learn about some of the most common HTML tags…</p>
              <div class="date">9 Oct 2017</div>
              <div class="tags">
                <div class="tag">PLAY</div>
              </div>
            </div>
          </a>
        </div>
        <div class="card-grid-space">
            <div class="num">05</div>
            <a class="card" href="{{url_for('dino')}}" style="--bg-img: url('https://cdn-images-1.medium.com/max/688/1*82D2cg8Gpe9CVISaph6RPg.gif')">
              <div>
                <h1>Dino Game</h1>
                <p>Learn about some of the most common HTML tags…</p>
                <div class="date">9 Oct 2017</div>
                <div class="tags">
                  <div class="tag">PLAY</div>
                </div>
              </div>
            </a>
          </div>
        <div class="card-grid-space">
          <div class="num">06</div>
          <a class="card" href="{{url_for('todo_list')}}" style="--bg-img: url('https://res.cloudinary.com/practicaldev/image/fetch/s--l6WoDybu--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/exr1vvrkk2i1c70ev3o3.jpg')">
            <div>
              <h1>Todo List</h1>
              <p>Learn how to use links and images along with file paths…</p>
              <div class="date">14 Oct 2017</div>
              <div class="tags">
                <div class="tag">PLAY</div>
              </div>
            </div>
          </a>
        </div>
        <div class="card-grid-space">
          <div class="num">07</div>
          <a class="card" href="{{url_for('note_making')}}" style="--bg-img: url('https://leverageedublog.s3.ap-south-1.amazonaws.com/blog/wp-content/uploads/2020/02/19162134/Note-Making-Format-and-Samples.jpg')">
            <div>
              <h1>Note Making</h1>
              <p>Learn how to use links and images along with file paths…</p>
              <div class="date">14 Oct 2017</div>
              <div class="tags">
                <div class="tag">PLAY</div>
              </div>
            </div>
          </a>
        </div>
        <div class="card-grid-space">
          <div class="num">08</div>
          <a class="card" href="{{url_for('library')}}" style="--bg-img: url('https://3.bp.blogspot.com/-IWM0_Rp9GLc/W3wtaA1MQJI/AAAAAAAAHYY/gTuPl8DeEmYfaHOLcluA2mgsPrZp82NywCLcBGAs/s1600/Library.png')">
            <div>
              <h1>Library</h1>
              <p>Learn how to use links and images along with file paths…</p>
              <div class="date">14 Oct 2017</div>
              <div class="tags">
                <div class="tag">PLAY</div>
              </div>
            </div>
          </a>
        </div>
        <div class="card-grid-space">
          <div class="num">09</div>
          <a class="card" href="{{url_for('Add_money')}}" style="--bg-img: url('https://static.vecteezy.com/system/resources/previews/012/033/444/non_2x/budget-planning-or-income-management-spending-and-expense-report-or-investment-balance-sheet-debt-calculation-and-analysis-businessman-with-magnifier-planning-budget-with-calculator-and-chart-vector.jpg')">
            <div>
              <h1>Income Management</h1>
              <p>Learn how to use links and images along with file paths…</p>
              <div class="date">14 Oct 2017</div>
              <div class="tags">
                <div class="tag">PLAY</div>
              </div>
            </div>
          </a>
        </div>
        <div class="card-grid-space">
          <div class="num">10</div>
          <a class="card" href="{{url_for('calculator')}}" style="--bg-img: url('https://img.freepik.com/free-vector/sticker-design-with-calculator-isolated_1308-60994.jpg?w=2000')">
            <div>
              <h1>Calculator</h1>
              <p>Learn how to use links and images along with file paths…</p>
              <div class="date">14 Oct 2017</div>
              <div class="tags">
                <div class="tag">PLAY</div>
              </div>
            </div>
          </a>
        </div>
    </section>
</body>

</html>