<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'index.css') }}" >
</head>

<body>
    
    <section class="info">
        <img src="https://codetheweb.blog/assets/img/icon2.png">
        <h1>2D GAME &mdash; <span target="_blank">Just For Fun</span></h1>
      </section>
      <section class="cards-wrapper">
        <div class="card-grid-space">
          <div class="num">01</div>
          <a class="card" href="{{url_for('memory_match')}}" style="--bg-img: url(https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/html-syntax/cover.jpg)">
            <div>
              <h1>HTML Syntax</h1>
              <p>The syntax of a language is how it works. How to actually write it. Learn HTML syntax…</p>
              <div class="date">6 Oct 2017</div>
              <div class="tags">
                <div class="tag">PLAY</div>
              </div>
            </div>
          </a>
        </div>
        <div class="card-grid-space">
          <div class="num">02</div>
          <a class="card" href="{{url_for('subway_suffer')}}" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/basic-types-of-html-tags/cover.jpg')">
            <div>
              <h1>Basic types of HTML tags</h1>
              <p>Learn about some of the most common HTML tags…</p>
              <div class="date">9 Oct 2017</div>
              <div class="tags">
                <div class="tag">PLAY</div>
              </div>
            </div>
          </a>
        </div>
        <div class="card-grid-space">
            <div class="num">03</div>
            <a class="card" href="{{url_for('tic_tac_toe')}}" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/basic-types-of-html-tags/cover.jpg')">
              <div>
                <h1>Basic types of HTML tags</h1>
                <p>Learn about some of the most common HTML tags…</p>
                <div class="date">9 Oct 2017</div>
                <div class="tags">
                  <div class="tag">PLAY</div>
                </div>
              </div>
            </a>
          </div>
          <div class="card-grid-space">
          <div class="num">04</div>
          <a class="card" href="{{url_for('snake')}}" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/basic-types-of-html-tags/cover.jpg')">
            <div>
              <h1>Basic types of HTML tags</h1>
              <p>Learn about some of the most common HTML tags…</p>
              <div class="date">9 Oct 2017</div>
              <div class="tags">
                <div class="tag">PLAY</div>
              </div>
            </div>
          </a>
        </div>
        <div class="card-grid-space">
            <div class="num">05</div>
            <a class="card" href="{{url_for('dino')}}" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/basic-types-of-html-tags/cover.jpg')">
              <div>
                <h1>Basic types of HTML tags</h1>
                <p>Learn about some of the most common HTML tags…</p>
                <div class="date">9 Oct 2017</div>
                <div class="tags">
                  <div class="tag">PLAY</div>
                </div>
              </div>
            </a>
          </div>
        <div class="card-grid-space">
          <div class="num">06</div>
          <a class="card" href="{{url_for('todo_list')}}" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/links-images-about-file-paths/cover.jpg')">
            <div>
              <h1>Links, images and about file paths</h1>
              <p>Learn how to use links and images along with file paths…</p>
              <div class="date">14 Oct 2017</div>
              <div class="tags">
                <div class="tag">PLAY</div>
              </div>
            </div>
          </a>
        </div>
        <div class="card-grid-space">
          <div class="num">07</div>
          <a class="card" href="{{url_for('note_making')}}" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/links-images-about-file-paths/cover.jpg')">
            <div>
              <h1>Links, images and about file paths</h1>
              <p>Learn how to use links and images along with file paths…</p>
              <div class="date">14 Oct 2017</div>
              <div class="tags">
                <div class="tag">PLAY</div>
              </div>
            </div>
          </a>
        </div>
        <div class="card-grid-space">
          <div class="num">08</div>
          <a class="card" href="{{url_for('library')}}" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/links-images-about-file-paths/cover.jpg')">
            <div>
              <h1>Links, images and about file paths</h1>
              <p>Learn how to use links and images along with file paths…</p>
              <div class="date">14 Oct 2017</div>
              <div class="tags">
                <div class="tag">PLAY</div>
              </div>
            </div>
          </a>
        </div>
        <div class="card-grid-space">
          <div class="num">09</div>
          <a class="card" href="{{url_for('Add_money')}}" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/links-images-about-file-paths/cover.jpg')">
            <div>
              <h1>Links, images and about file paths</h1>
              <p>Learn how to use links and images along with file paths…</p>
              <div class="date">14 Oct 2017</div>
              <div class="tags">
                <div class="tag">PLAY</div>
              </div>
            </div>
          </a>
        </div>
        <div class="card-grid-space">
          <div class="num">10</div>
          <a class="card" href="{{url_for('calculator')}}" style="--bg-img: url('https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?container=focus&resize_w=1500&url=https://codetheweb.blog/assets/img/posts/links-images-about-file-paths/cover.jpg')">
            <div>
              <h1>Links, images and about file paths</h1>
              <p>Learn how to use links and images along with file paths…</p>
              <div class="date">14 Oct 2017</div>
              <div class="tags">
                <div class="tag">PLAY</div>
              </div>
            </div>
          </a>
        </div>
    </section>
</body>

</html>